In [1]:
# Dependencies
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-04-30 20:24:00,-33.9258,18.4232,57.20,77,0,10.36
1,1,Fortuna,US,2021-04-30 20:24:01,40.5982,-124.1573,66.00,82,1,16.11
2,2,Port Elizabeth,ZA,2021-04-30 20:24:01,-33.9180,25.5701,59.00,67,40,13.80
3,3,Busselton,AU,2021-04-30 20:24:01,-33.6500,115.3333,51.01,98,98,3.83
4,4,Ballina,AU,2021-04-30 20:24:02,-28.8667,153.5667,62.60,94,90,6.91

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 82

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
23,23,Ixtapa,MX,2021-04-30 20:21:18,20.7000,-105.2000,80.60,74,40,12.66
27,27,Sao Gabriel Da Cachoeira,BR,2021-04-30 20:24:07,-0.1303,-67.0892,77.00,88,40,5.75
30,30,Avarua,CK,2021-04-30 20:24:07,-21.2078,-159.7750,80.60,83,75,5.75
32,32,Rikitea,PF,2021-04-30 20:24:08,-23.1203,-134.9692,78.87,77,77,20.09
33,33,Pierre,US,2021-04-30 20:24:08,44.3683,-100.3510,78.01,28,1,21.85
37,37,Bengkulu,ID,2021-04-30 20:21:40,-3.8004,102.2655,74.98,91,92,3.80
39,39,Beihai,CN,2021-04-30 20:24:10,21.4833,109.1000,76.80,77,92,2.24
46,46,Dingle,PH,2021-04-30 20:24:12,10.9995,122.6711,75.72,73,100,5.06
47,47,Kupang,ID,2021-04-30 20:24:12,-10.1667,123.5833,76.32,84,100,6.76
54,54,Kalaiya,NP,2021-04-30 20:24:14,27.0327,85.0022,78.53,41,36,5.46

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
23,23,Ixtapa,MX,2021-04-30 20:21:18,20.7000,-105.2000,80.60,74,40,12.66
27,27,Sao Gabriel Da Cachoeira,BR,2021-04-30 20:24:07,-0.1303,-67.0892,77.00,88,40,5.75
30,30,Avarua,CK,2021-04-30 20:24:07,-21.2078,-159.7750,80.60,83,75,5.75
32,32,Rikitea,PF,2021-04-30 20:24:08,-23.1203,-134.9692,78.87,77,77,20.09
33,33,Pierre,US,2021-04-30 20:24:08,44.3683,-100.3510,78.01,28,1,21.85
...,...,...,...,...,...,...,...,...,...,...
555,555,Gewane,ET,2021-04-30 20:26:35,10.1664,40.6453,75.49,74,13,3.06
556,556,Hami,CN,2021-04-30 20:26:35,42.8000,93.4500,72.70,13,32,4.38
559,559,Douglas,US,2021-04-30 20:24:31,41.3000,-96.1670,81.00,21,40,3.44
561,561,Chiang Klang,TH,2021-04-30 20:26:37,19.2938,100.8617,72.93,95,79,1.12
562,562,Najran,SA,2021-04-30 20:26:37,17.4924,44.1277,78.80,31,75,9.22

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df

# 5b. Create a new column "Hotel Name"
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
23                    Ixtapa      MX     80.60  20.7000 -105.2000
27  Sao Gabriel Da Cachoeira      BR     77.00  -0.1303  -67.0892
30                    Avarua      CK     80.60 -21.2078 -159.7750
32                   Rikitea      PF     78.87 -23.1203 -134.9692
33                    Pierre      US     78.01  44.3683 -100.3510
37                  Bengkulu      ID     74.98  -3.8004  102.2655
39                    Beihai      CN     76.80  21.4833  109.1000
46                    Dingle      PH     75.72  10.9995  122.6711
47                    Kupang      ID     76.32 -10.1667  123.5833
54                   Kalaiya      NP     78.53  27.0327   85.0022

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotels = requests.get(base_url, params=params).json()
hotel_df.dropna()

                         City Country  Max Temp      Lat       Lng Hotel Name
23                     Ixtapa      MX     80.60  20.7000 -105.2000
27   Sao Gabriel Da Cachoeira      BR     77.00  -0.1303  -67.0892
30                     Avarua      CK     80.60 -21.2078 -159.7750
32                    Rikitea      PF     78.87 -23.1203 -134.9692
33                     Pierre      US     78.01  44.3683 -100.3510
..                        ...     ...       ...      ...       ...        ...
555                    Gewane      ET     75.49  10.1664   40.6453
556                      Hami      CN     72.70  42.8000   93.4500
559                   Douglas      US     81.00  41.3000  -96.1670
561              Chiang Klang      TH     72.93  19.2938  100.8617
562                    Najran      SA     78.80  17.4924   44.1277

[132 rows x 6 columns]

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))